<button class="chatbot-toggler">
  <span class="material-symbols-outlined">mode_comment</span>
  <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
  <header>
    <h2>ChatWithMe</h2>
    <span class="close-btn material-symbols-outlined">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <%= image_tag 'profile-img.jpg', alt: '', class: 'img-fluid avatar' %>
      <p><%= t 'chatbot.intro' %></p>
    </li>
  </ul>
  <div class="chat-input">
    <textarea placeholder="Aa" spellcheck="false" required></textarea>
    <span id="send-btn" class="material-symbols-outlined">send</span>
  </div>
</div>